/* === PAGE ================================================================== */
.page {
  min-height: 100%;
  padding: 3.5rem 20px 1rem;

  &[data-bottom='80'] { padding-bottom: 6rem; }
  &[data-bottom='136'] { padding-bottom: 9rem; }

  &:before {
    @include pseudo;
    height: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient($color-palette-2 0%, $color-palette-2 50%, rgba($color-palette-2, .1) 100%);
  }
  &:after {
    @include clearfix;
  }
}