/* === BLOCK ======================================================== */
.block {
  text-align: center;
  &:after { @include clearfix; }
  @media #{$tablet-sm} {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  &.overlay {
    padding: 4rem 1.25rem 0;
    margin: -3.5rem -1.25rem 0;
    position: relative;
    z-index: 1050;
    opacity: 1;
    background-color: $color-palette-2;
    transition: opacity $duration-l;
    @media #{$tablet-sm} {
      margin-right: auto;
      margin-left: auto;
      &:before {
        @include pseudo;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: $color-palette-2;
      }
    }

    &-transparent {
      opacity: 0;
    }
    &-hidden {
      display: none;
    }
    &-animated {
      opacity: 1;
    }
    &-fixed {
      max-width: none;
      padding-bottom: 1rem;
      margin: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}