/* === CHOOSE ======================================================== */
.choose {
  .or {
    padding: .375rem 0;
    display: block;
  }

  .btn {
    width: 280px;
    margin: 0 auto;
    display: block;
  }
}