/* === ICONS ======================================================== */
/* Icon face */
.icon-face {
  width: 100px;
  height: 100px;
  margin: 1.25rem auto .5rem;
  display: block;
  background: url('#{$images}/icon/face.svg') no-repeat center center;
  background-size: 74px 90px;

  &:before {
    @include pseudo;
    width: 0;
    height: 0;
    overflow: hidden;
    background: url('#{$images}/icon/profile.svg') no-repeat center center;
  }

  &.transparent {
    opacity: 0;
  }
  &.duplicate {
    margin: 0;
    position: absolute;
    z-index: 500;
    transform-origin: center center;

    &.animation-step-1 {
      transition: transform .4s $easing-out;
      transform: scale(1.35);
    }
    &.animation-step-2 {
      top: 0 !important;
      left: 100vw !important;
      transform: scale(.325) translate3d(-240px, -80px, 0);
      opacity: 0;
      transition: all .9s $easing-out, opacity .1s .82s ease;
    }
  }
}