/* === LANDING ======================================================== */
.landing {
  margin-bottom: 1.5rem;

  .bank {
    margin-bottom: 0;
    text-align: center;

    img {
      margin: 0 auto;
      display: block;
    }

    figcaption {
      margin-top: .555556rem;
    }
  }

  .date {
    line-height: 1.384615385;
  }
}