/* === LANDING ======================================================== */
.landing {
  margin-bottom: 1.5rem;

  .bank {
    margin-bottom: 0;
    text-align: center;

    img {
      margin: 0 auto;
      display: block;
    }

    figcaption {
      margin-top: .625rem;
    }
  }

  .date {
    //line-height: 1.384615385;
  }

  .mail {
    margin-top: 0;
    margin-bottom: 0;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &.receipt {
    padding: 19px 15px 32px;
    border-radius: 2px;
    margin-top: -3.25rem;
    margin-bottom: 0;
    background: $color-white;
    box-shadow: 0 0 5px 0 rgba($color-black, .2);

    .heading {
      margin-bottom: .25rem;
      font-size: 1.125rem;
      line-height: 1.3333334;
    }

    .list-icons {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  }
}