/* === SUCCESS ======================================================== */
.success {
  margin-top: -1.5rem;

  .icon-check {
    margin: 0 auto .75rem;
  }

  .btn {
    margin-top: 1rem;
    min-width: 280px;
  }
}