/* === TOP NAV ======================================================== */
.top-nav {
  height: 3rem;
  padding: .25rem 1.25rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  text-align: center;

  &:before {
    @include pseudo;
    height: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient($color-palette-2 0%, $color-palette-2 50%, rgba($color-palette-2, .1) 100%);
  }

  // Back link
  .back {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: .25rem;
    left: .375rem;
    z-index: 5;

    &:before, &:after {
      @include pseudo;
      width: 11px;
      height: 1px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 6px;
      bottom: 0;
      left: 0;
      transform: rotate(-45deg);
      background: $color-palette-1;
      backface-visibility: hidden;
    }
    &:before {
      bottom: 7px;
      transform: rotate(-45deg);
    }
    &:after {
      top: 7px;
      transform: rotate(45deg);
    }
  }

  // Close link
  .close {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: .25rem;
    right: .5rem;
    z-index: 5;
    float: none;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-shadow: none;
    opacity: 1;

    &:before, &:after {
      @include pseudo;
      width: 23px;
      height: 1px;
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: rotate(-45deg);
      background: $color-palette-1;
      backface-visibility: hidden;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }

  .title {
    padding: 1rem 15px;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.125;
    letter-spacing: .02em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .icon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: .25rem;
    right: .5rem;

    &-help {
      background: url('#{$images}/icon/help.svg') no-repeat center center;
    }
    &-profile {
      background: url('#{$images}/icon/profile.svg') no-repeat center center;
      transform-origin: center center;

      &.bump {
        animation: bounce .8s;
      }
    }
  }
}
@keyframes bounce {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}